nav {
  display: flex;
  justify-content: space-between;
  margin: 20px;
  padding-left: 50px;
  padding-right: 50px;

}

.common-btn {


  color: white;
  background-color: #1D4ED8;
  padding: 12px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
}

.link a {


  color: #575757;
  margin: 10px;
  text-decoration: none;
}



.text {

  color: white;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: inter;
  padding-top: 150px;


}

div p {
  text-align: center;
  color: white !important;
  width: 37%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;

}

.img {
  background-image: url("./images/banner.jpg");

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 700px;

}

.common-btn2 {
  color: white;
  background-color: #1D4ED8;
  padding: 12px 32px;
  width: 150px;
  border-radius: 10px;
  cursor: pointer;
  display: block;
  margin: 250px auto;
}

h2 {
  color: black;
  text-align: center;
  font-size: 3.5rem;
  font-weight: bold;
  font-family: inter;


}

p {
  color: black !important;
}

.card {

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 10px;
  margin: 10px;
  padding: 20px;
  gap: 20px;
  flex-wrap: wrap;


}

h4 {
  font-weight: normal;
}